<% include ../partials/header %>


       <div class="row justify-content-center">
             <div class="col-md-12  text-center">
         <h1>Edit <%= campground.name.charAt(0).toUpperCase() + campground.name.slice(1,campground.name.length) %></h1> 
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            <form id="editCampground" action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">NAME:</label>
                    <input id="name" class="form-control" type="text" name="campground[name]" value="<%= campground.name %>"required minlength="3">
                </div>
                 <div class="form-group">
                    <label for="imageUrl">IMAGE:</label>
                    <input id="imageUrl" type="file" id="image" name="image" accept="image/*" required>
                </div>
                <div class="form-group">
                <label for="price">PRICE:</label>
                    <input id="price" class="form-control" type="number" step="10" min="10" name="campground[price]" value="<%= campground.price %>" required>  
                </div>
                <div class="form-group">
                <label for="description">DESCRIPTION:</label>
                    <input id="description" class="form-control" type="text" name="campground[description]" value="<%= campground.description %>" required>
                </div>
                <div class="form-group">
                   <label for="location">LOCATION:</label>
                     <input id="location" class="form-control" type="text" name="campground[location]" id="location" value="<%= campground.location %>" required>
                   </div>
                <hr>
                <div class="form-group">
                    <button id="editCampgroundButton" class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
             <div class="form-signin">
                <a href="/campgrounds">Go Back</a>  
            </div>
        </div>
      </div>



<% include ../partials/footer %>

